.slidev-layout a.inalia {
  border-bottom-width: 0;
}

.slidev-layout ul.inalia {
  list-style-type: none;
}

.slidev-layout ul.inalia li {
  margin: 0;
  padding: 0;
}

.slidev-layout .inalia.inalia-data-select {
  margin-bottom: 2.5rem;
}

.slidev-layout .inalia.inalia-legend {
  position: absolute;
  bottom: 2.5rem;
  left: 3.5rem;
  right: 3.5rem;
}

.slidev-layout .inalia.inalia-legend-text {
  font-size: 1.125rem;
  color: inherit;
  opacity: 0.5;
}

.inalia-fade-enter-active,
.inalia-fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.inalia-fade-enter-from,
.inalia-fade-leave-to {
  opacity: 0;
}

.inalia-live-reaction {
  animation: float-up 3s cubic-bezier(0.20, 0.110, 0.855, 1) forwards;
  will-change: transform, opacity;
}

@keyframes float-up {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  8% {
    opacity: 1;
    transform: translateY(-30px);
  }

  85% {
    opacity: 0.2;
    transform: translateY(-70vh);
  }

  100% {
    opacity: 0;
    transform: translateY(-90vh);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
