.slidev-layout a.inalia {
  border-bottom-width: 0;
}

.slidev-layout ul.inalia {
  list-style-type: none;
}

.slidev-layout ul.inalia li {
  margin: 0;
  padding: 0;
}

.slidev-layout .inalia.inalia-answers-single-select {
  margin-bottom: 2.5rem;
}

.slidev-layout .inalia.inalia-legend {
  position: absolute;
  bottom: 2.5rem;
  left: 3.5rem;
  right: 3.5rem;
}

.slidev-layout .inalia.inalia-legend-text {
  font-size: 1.125rem;
  color: inherit;
  opacity: 0.5;
}
